.dot-grid-container {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.dot-grid-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.dot-grid-content {
  position: relative;
  z-index: 1;
}
